body {
    background: url("noise.png") repeat scroll 0 0 #FFFFFF;
    font-family: THSarabunNew,"Helvetica",Arial,Verdana,sans-serif !important;
    padding-top: 50px;
    position: relative;
}

.tp-bannershadow.tp-shadow1 {
    background: url("shadow1.png") no-repeat scroll 0 0   transparent;
    bottom: -30px;
    height: 30px;
}
.navbar .navbar-inner {
    background: none repeat scroll 0 0 #78ba00;
    padding: 7px 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0);
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0) !important;
}

.navbar .container .brand {
    font-size: 26px !important ;
}

.container .container .nav {
    font-size: 18px !important ;
}

.navbar .container  .nav > li > a {
    color: #000000;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 0px 0 #FFFFFF;
}

.navbar .container  .brand {
    color: #000000;
    text-shadow: 0 0px 0 #FFFFFF;
}


#landing {
    /* background: none repeat scroll 0 0 #F1F1F1;*/
    background: none repeat scroll 0 0 #FCE883;
}
#landing {
    padding: 15px 0 5px;
}


#footer {
   background: none repeat scroll 0 0 #EED202;
   /*  background: none repeat scroll 0 0 #F1F1F1; */
    color: #17405E;
}
#footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2px 0;
}

#copywrite {
    background: none repeat scroll 0 0 #394755;
    color: #D6DFE5;
}

#footer ul {
    list-style: none outside none;
    margin: 0;
}
.animated, .animated a {
    animation-duration: 0.2s !important;
    animation-fill-mode: both !important;
    transition: all 0.2s linear 0s !important;
}

.txt-middle {
    text-align: center;
}

.pageheader {
    border-bottom: 1px solid #CCCCCC;
    font-family: THSarabunNew,"Helvetica",Arial,Verdana,sans-serif !important;
    margin-bottom: 10px;
}

.box {
    background: none repeat scroll 0 0 white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    margin: 20px auto;
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important; /* ie7 fix */
    height: 100%;
    margin: 0 auto -43px;
}
.footer-wrapper {
   /* height:40px; */
   margin-top: 10px;
}
.copywrite {
    background: none repeat scroll 0 0 #C3B091;
    color: #FFFFFF;
}

/* overide bullet*/
.flex-control-nav {
    bottom: -25px;
}

.flex-control-paging li a {
    background: none repeat scroll 0 0 rgba(255, 215, 0, 0.5);
}


.flexslider {
    margin: 0 0 20px;
}

.txt-left {
    text-align: left;
    font-size: 1.1em;
    line-height: 1.4em;
    font-weight: bold;
    font-family: THMaliGrade6,"Helvetica",Arial,Verdana,sans-serif !important;
}

.red {
color: #8B1A1A;
    font-weight: bold;
}

.green, .green h3 {
color: #829F00;
    font-weight: bold;
}

.pink, .pink h3 {
color: #86398C;
    font-weight: bold;
}

.blue, .blue h3 {
color: #0274A1;
    font-weight: bold;
}
.leaf {
    height: 130px;
    background: url("leaf.png") no-repeat scroll 0 0 ;
}
